<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/a796779be2.js" crossorigin="anonymous"></script>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- CSS here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'edu_css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'edu_css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="#">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                     <ul id="navigation ml-auto">
                                        <li><a  href="{% url 'login_test_app:dashboard' %}">Go Back Dashboard</a></li>                    
                                         <li><a href="{% url 'login_test_app:user_logout' %}">Log Out</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                <a href="#test-form" class="login popup-with-form">
                                    
                                    
                                </a>
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="#">
                                        <i class="fa fa-phone"></i>
                                        <span>01631903731</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
            <h3>Edumark User Profile</h3>
        </div>
        <!-- bradcam_area_end -->

        <section>
            <div class="container">
                <div class="row jack">
                   <div class="col-md-4">
                    {% if user.is_authenticated %}
                    <img class="image"src="/media/{{ user_more_info.profile_pic }}" alt="Profile Picture here" width="200px;">
                   </div>

                   <div class="col-md-8">
                    <h3 class="mt-4">Hi, {{user_basic_info.username}} </h3>
                    <h4>Your Registered Email - <a href="#">{{user_basic_info.email}}</a></h4>

                    <h4 class="mt-4">Your Address - {{ user_more_info.address }}</h4>
                    <h4>Your Department - {{ user_more_info.department }}</h4>
                   </div>
                </div>               
                {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            <div class="alert alert-danger"><h5 class="text-center"><h4>Warnning !! You Are Not Logged In ! </h4></div>
                         </div>
                     </div>
                </div>
                </div>
                {% endif %}
            </div>
        </section>

    <!-- JS here -->
    <!-- JS here -->
    <script src="{% static 'edu_js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'edu_js/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'edu_js/popper.min.js' %}"></script>
    <script src="{% static 'edu_js/bootstrap.min.js' %}"></script>
    <script src="{% static 'edu_js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'edu_js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'edu_js/ajax-form.js' %}"></script>
    <script src="{% static 'edu_js/waypoints.min.js' %}"></script>
    <script src="{% static 'edu_js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'edu_js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'edu_js/scrollIt.js' %}"></script>
    <script src="{% static 'edu_js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'edu_js/wow.min.js' %}"></script>
    <script src="{% static 'edu_js/nice-select.min.js' %}"></script>
    <script src="{% static 'edu_js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'edu_js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'edu_js/plugins.js' %}"></script>
    <script src="{% static 'edu_js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'edu_js/contact.js' %}"></script>
    <script src="{% static 'edu_js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'edu_js/jquery.form.js' %}"></script>
    <script src="{% static 'edu_js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'edu_js/mail-script.js' %}"></script>

    <script src="{% static 'edu_js/main.js' %}"></script>
</body>

</html>

